* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
  justify-content: space-around;
  min-height: 60px;

  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: row;
	top: 0;
	left: 0;
	right: 0;
  color: white;
	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.reel-header > i {
  margin: 0 26px;
}

ul {
  list-style: none;
  color: rgba(255, 255, 255, 0.4);
  margin: 0 auto;
}
ul > li {
  display: inline-block;
  margin: 10px;
}

ul > li > a {
  text-decoration: none;
  color: inherit;
}

div {
  position: relative;
  text-align: center;
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}
.avatar {
  display: flex;
  margin-bottom: 25px;
}

.profile-picture {
  position: relative;
  width: 50px;
  border-radius: 50%;
  border: 2px solid white;
}

.follow-button {
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 10pt;
  bottom: 0;
  left: 50%;
  translate: -50% 50%;
  color: white;
  background-color: red;
  border-radius: 50%;
  align-content: center;
  justify-content: center;
}

.interaction {
  color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */
